<%- include('includes/header') %>
<div class="container">

    <form action="/changeCurrentVoting" method="post">
        <div class = "form-group">
            <label for="currentVoting"> <b>Choose current voting question:</b></label>
            <select class = "form-control" id="currentVoting" name = "currentVoting">
                <% questions.forEach(function(question) { %>
                    <option value="<%= question.question_id%>" > <%= question.question_text%> </option>
                    <br>
                <% }); %>
            </select> 
            <br>
            <button type="submit" class="btn btn-primary"> Submit </button>
        <div>
    </form>


     <form action="/addUser" method="post">
        <div class = "form-group">
            <label for="username"> <b> Add user </b> </label>
            <input type="text" name="username" class="form-control" required > 
            <br>	
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form> 


     <form action="/addQuestion" method="post">
        <div class = "form-group">
            <label for="question"> <b> Add question </b> </label>
            <input type="text" name="question" class="form-control" required > 
            <br>	
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form> 


    <br>
    <h2> All users </h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Code</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach( (user, index) => { %>
                <tr>
                    <th scope="row"> <%= index +1 %>  </th>
                    <td> <%= user.username %>  </td>
                    <td> <%= user.code %> </td>
                </tr>
            <% }); %>
          </tbody>
        </table

</div>




<%- include('includes/header') %>
