<%- include('includes/header') %>
<% if( Object.keys(results).length > 0) { %>
        <% Object.keys(results).forEach( (question) => { %>

            <b>Question: </b>
            <br>
            <%= question %>
            <br>
            <% Object.keys(results[question].votes).forEach( (answer) => { %>
                <%= answer %>: <%= results[question]['votes'][answer] %>
                <br>
            <%});%>
            <b> Total number of non-withdrawn votes : </b> <%= usersVoting %> <br>
            <b> Final winner: </b> <%= results[question]['result'] %>
            <br>
            <br>
        <% });%>
    <% } else { %>
        <h3> There are currently no voting results </h3>

    <% } %>
<%- include('includes/footer') %>
