<%- include('includes/header') %>
    <div class = "container">
        <% if (question) { %>
            <form action="/vote" method="POST">
                <div class = "form-group">
                    <label for="vote"> <b>Your vote for <%= question %></b> </label>
                        <select id="vote" name="vote" class="form-control"  >
                        <% answers.forEach( (answer) => { %>
                            <option value="<%= answer.answer_id%>"> <%= answer.answer_text%> </option>
                        <% }); %>
                        <!--
                        <option value="blank"> Blank </option>
                        -->
                        </select>
                        <br>
                </div>
                <input type="hidden" name="question_id" value="<%= question_id %>" >
                <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-lg">   Send   </button>
                </div>
            </form>
        <% } else {%>
            <h1> Please wait until the speaker opens new voting round </h1>
        <% } %>
        <a href="/results"><button class="btn btn-info btn-lg"> Results </button> </a>

    </div>

<%- include('includes/footer') %>
